/* This is our own CSS!! :D */

/* Universal styling */




.header{
	background-color: #EDEDED; 
}

hr{
	height: 2px;
	border-top: 0;
	background: #333;
}


em{
	color: #000000;
}

/* Home */

.homeBody{
	background-image: url(../dinnerplanner-html/images/Food-Image.jpg);
	background-size: 100%;
}
#homeHeader{
	background-color: rgba(250, 206, 120, 0.6);
}
#homeView{
	background-color: rgba(250, 250, 250, 0.6);
	position: absolute;
	top: 25%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}